.ntfy-topic-title {
    max-width: 28em;
}

.ntfy-message-body {
    max-width: 28em;
}

.ntfy-message-title {
    max-width: 28em;
    font-weight: bold;
}

.ntfy-message-time {
    font-size: 0.85em;
}
